.banner-section {
    background-color: var(--banner-color);

    &__container.swiper {
       padding: 50px 50px 68px;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 75px;
        background-image: url('../../img/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 3;
        cursor: pointer;

        &_prev {
            left: 48px; 
            transform: translateY(-50%) rotate(180deg);  
        }

        &_next {
            right: 48px;
        }

        &.swiper-button-disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@media(max-width: 767px) {
    .banner-section {
        &__container.swiper {
            padding: 20px 25px;
        }

        &__button {
            width: 15px;
            height: 35px;

            &_prev {
                left: 10px; 
            }

            &_next {
                right: 10px;
            }
        }
    }
}