.grid-section {
    counter-reset: card-counter;
    
    &__container {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 392fr 590fr 162fr;
        gap: 13px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 27px;
        grid-column: span 3;
    }

    &__block {
        background-color: var(--block-color);
        min-height: 198px;
        position: relative;
        display: flex;

        &:nth-of-type(2) {
            grid-column: span 2;
        }

        &:nth-of-type(3) {
            grid-column: span 2;
        }

        &::before {
            counter-increment: card-counter;
            content: counter(card-counter);
            display: block;
            margin: auto;
            font-size: 53px;
            line-height: 62px;
        }
    }
}

@media(max-width: 767px) {
    .grid-section {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 13px;
        }

        &__title {
            margin-bottom: 17px;
        }

        &__block {
            min-height: 150px;
            &::before {
                font-size: 36px;
                line-height: 40px;
            }
        }
    }
}