.header {
    width: 100%;
    background-color: var(--header-background);

    &__container {
        padding: 55px 60px 48px 155px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__burger-menu {
        position: absolute;
        width: 100%;
        max-width: 450px;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.4s ease, opacity 0.4s ease;
        z-index: 4;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__burger {
        position: relative;
        z-index: 6;
    }
}

@media(max-width: 767px) {
    .header {
        &__container {
            padding: 20px 15px;
        }

        &__burger-menu {
            max-width: 100%;
            // left: -15px;
        }
    }
}