.menu {
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    list-style: none;

    &__link {
        color: inherit;
        text-decoration: none;

        &_active {
            font-weight: 700;
            text-decoration: underline;
            text-underline-offset: 4px;
        }

        @media(hover: hover) {
            &:hover{
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }

        &:focus {
            outline: none;
        }

        &:focus-visible {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
}

@media(max-width: 767px) {
    .menu {
        gap: 20px;
    }
}