:root {
    --header-background: #B47FF6;
    --main-font: 'Roboto', 'Arial', sans-serif;
    --background: #A6C9FF;
    --banner-color: #7029CB;
    --block-color: #3ADE4B;
    --footer-color: #D87FF6;
    --wrapper-color: #D4FF5A;
    --card-color: #497957;
    --accent-color: #FF4B4B;
    --title-color: #ffffff;
    --card-border: #00FF4A;
    --shadow-color: #497957;
    --text-color: #f3f3f3;
}
